<div class="card">
  <header class="card-header has-background-primary">
    <p class="card-header-title has-text-white">
      {{post.title}} <br> by {{post.user.name}} on {{format_date post.createdAt}}
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      {{post.content}}
    </div>
  </div>
</div>
<br>
<div class="container">
  <h1 class="title">Comments</h1>
      <div class="field">
        <p class="control">
            <button class="button is-primary" id="addcomment" data-pid={{post.id}}>
                Add Comment
            </button>
        </p>
    </div>
    <br>
{{#each post.comments as |comment|}}
    {{>post-comments}}
{{/each}}
</div>

{{!-- <script src="js/post.js"></script> --}}

<script>
  const addCommentButtonHandler = async (event) => {
    event.preventDefault();
    const postID = document.querySelector('#addcomment').dataset.pid;
    document.location.replace(`/comment/${postID}`);
};

document
    .querySelector('#addcomment')
    .addEventListener('click', addCommentButtonHandler);
</script>